.bc-btn{
	display: inline-block;
	line-height: 1.428571;
	touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;

	&-default{
	
	
	&:hover, &:active{
		

	}

	}

	&-primary{
	
	}

	&-secondory{
	
	}

	&-shadow{
		
	}

}
