{{> head title='Title coming soon..'}}
  <body>
  	 {{> header}}
    <main>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div id="bc-content" class="bc-spacer-t-p-1">
              sadasdsad <i class="fa fa-cog" aria-hidden="true"></i>
            </div> 
          </div>
        </div>
      </div>
    </main>
    <script src="js/libs/jquery.min.js"></script>
    <script src="js/bundle.js"></script>
    <script>
    // AOS.init();
    </script>
      {{> footer}}
  </body>
</html>
